:root {
  --white: #ffffff;
  --dark-blue: #182C67;
  --med-blue: #8ED8F8;
  --light-blue: #DCF1FA;
}

body{
  background-color: var(--white);
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-blue);
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

h1{
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 24px;
}

h2{
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 24px;
}

h3{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 24px;
}

.button{
  color: var(--dark-blue);
  text-decoration: underline;
  font-style: italic;
}

.button:after{
  margin-left: 8px;
  content: url("../assets/arrow.svg");
  border: none;
}

.button:hover:after{
  transition: all .25s ease-out;
  margin-left: 16px;
}

.hero{
  background-color: var(--light-blue);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
}

.logo{
  width: 100px;
  height: 100px;
  background-image: url("../assets/katreyyy-site-head-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.logo:hover{
  background-image: url("../assets/katreyyy-site-head-2.png");
  padding: 0;
}

.logo:after{
  content: "";
}

.socials{
  display: flex;
  align-items: center;
}

.socials a{
  margin-right: 32px;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

.socials a:hover{
  transition: all .25s ease-out;
  background-color: var(--med-blue);
}

.socials a:last-child{
  margin-right: 0;
}

.socials a:after{
  content: none;
}

.title{
  text-align: center;
  margin-bottom: 64px;
}

.showcase{
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.box-link{
  color: var(--dark-blue);
  text-decoration: none;
}

.box{
 	width: 30%;
 	background-color: var(--med-blue);
  border-radius: 8px;
}

.box img{
  width: 100%;
}

.card-text{
  padding: 24px;
}

.cta{
  text-align: center;
}

.contact{
  margin-top: 80px;
  margin-bottom: 80px;
}

.contact-text{
  padding: 120px;
  position: relative;
  background-color: var(--light-blue);
  border-radius: 8px;
}

.contact-text img{
  position: absolute;
  top: -80px;
  left: -16px;
}

footer{
  background-color: var(--light-blue);
}

/*404*/

.four-o-four{
  height: 100vh;
  background-color: var(--light-blue);
}

.four-o-four .contact-text{
  background-color: var(--white);
}

@media only screen and (max-width: 767px) {
  header{
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }

  .logo{
    text-align: center;
  }

  .showcase{
    flex-direction: column;
    margin-bottom: 32px;
  }

  .box{
    width: 100%;
    margin-bottom: 24px;
  }

  .contact-text{
    padding: 32px;
  }

  .contact-text img{
    width: 16%;
    top: -60px;
  }

  /*404*/
  .four-o-four .contact{
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

@media only screen and (max-width: 580px) {
  .contact-text img{
    display: none;
  }
}
