<section class="about">
    <div class="container">
        <div class="text-box">
            <h2>Oh, heyyy!</h2>
            <p>I’m Kathleen or Kath (she/her), a latina designer and illustrator living in extra sunny Orlando, FL, US.
                A fan of simple and joyful design with a background in print production, branding, and communication. My
                design concentrations are brand development and marketing. My illustration work is empowering, positive,
                and playful.</p>
        </div>
    </div>
</section>