<footer>
    <div class="container">
        <div class="flex-row">
            <div>All works &copy; Kath Reyes.</div>
            <div class="socials">
                <a href="https://www.instagram.com/katreyyy/" target="_blank"><img src="assets/images/instagram.svg"></a>
                <a href="https://dribbble.com/katreyyy" target="_blank"><img src="assets/images/dribbble.svg"></a>
                <a href="https://www.behance.net/katreyyy" target="_blank"><img src="assets/images/behance.svg"></a>
            </div>
        </div>
    </div>
</footer>