<header>
    <div class="container">
        <nav class="flex-row">
            <a class="logo" href="/"></a>
            <div class="socials">
                <a href="https://www.instagram.com/katreyyy/" target="_blank"><img src="assets/images/instagram.svg"></a>
                <a href="https://dribbble.com/katreyyy" target="_blank"><img src="assets/images/dribbble.svg"></a>
                <a href="https://www.behance.net/katreyyy" target="_blank"><img src="assets/images/behance.svg"></a>
            </div>
        </nav>
    </div>
</header>