<header>
    <div class="container">
        <nav class="flex-row">
            <a class="logo" href="/"></a>
            <div class="socials">
                <a href="{{site.data.site.socials.instagram}}" target="_blank" rel="noopener"><img src="assets/images/instagram.svg" alt="{{site.data.site.socials.instagram-alt}}"></a>
                <a href="{{site.data.site.socials.dribbble}}" target="_blank" rel="noopener"><img src="assets/images/dribbble.svg" alt="{{site.data.site.socials.dribbble-alt}}"></a>
                <a href="{{site.data.site.socials.behance}}" target="_blank" rel="noopener"><img src="assets/images/behance.svg" alt="{{site.data.site.socials.behance-alt}}"></a>
            </div>
        </nav>
    </div>
</header>