<!doctype html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.meta }}">
    <meta name="author" content="{{ page.author }}">

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,500,700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <link rel="icon" type="image/x-icon" href="assets/images/Katreyyy-site-favicon.ico">
    <link rel="icon" type="image/png" href="assets/images/Katreyyy-site-favicon.png">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163621872-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-163621872-1');
    </script>  
    
    <!-- To run web application in full-screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <!-- Status Bar Style (see Supported Meta Tags below for available values) -->
    <!-- Has no effect unless you have the previous meta tag -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    
    <!-- Microsoft Tiles -->
    <meta name="msapplication-config" content="browserconfig.xml">
    
    <!-- Facebook Card -->
    <meta property="og:url" content="http://www.katreyyy.com/{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.meta }}" />
    <meta property="og:image" content="https://katreyyy.com/assets/images/katreyyy-sm-card-home.png" />
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@katreyyy" />
    <meta name="twitter:creator" content="@katreyyy" />
    <meta property="og:url" content="http://www.katreyyy.com/{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.meta }}" />
    <meta property="og:image" content="https://katreyyy.com/assets/images/katreyyy-sm-card-home.png" />
</head>

<body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
</body>

</html>